<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/title-styles-and-meta.njk' %}
    
</head>

<body>
    <div class="container green-box">
      {% include 'partials/header.njk' %}
      {% include 'partials/navigation.njk' %}
      {{ content | safe }}
    </div>
</body>
</html>