<!DOCTYPE html>
<html>

  <head>
    {% include 'partials/title-styles-and-meta.njk' %}
  </head>

  <body>
    <div class="container">

      <div class="ep-greenbox
                  pt-3
                  ">
        {% include 'partials/header.njk' %}
      </div>

      <div class="row align-items-start">

        {# Navigation #}
        <div class="ep-navigation
                    col order-last
                    order-md-first
                    col-md-2
                    col-lg-3
                    ep-sticky-bottom-mobile
                    ep-nav-mt
                    ">
          {% include 'partials/navigation.njk' %}
        </div>

        {# Content #}
        <div class="ep-content
                    col-12 
                    col-md-10 
                    col-lg-9
                    ">
          <h2 >{{ title | safe }}</h2>
          <hr class="mt-0">
          {{ content | safe }}
        </div>
        
      </div> {# end row #}
    </div> {# end container #}
  </body>
</html>