<!DOCTYPE html>
<html>

  <head>
    {% include 'partials/title-styles-and-meta.njk' %}
  </head>

  <body>

    {# <div class="pt-3
                py-md-5
                mb-2
                mb-md-4
                mb-lg-5
                bg-success-subtle
                "> #}
    <div class="p-2
                p-sm-3
                p-md-4
                mb-2
                mb-sm-4
                bg-light

                shadow-sm
                ">
      {% include 'partials/header.njk' %}
    </div>


    <div class="container">



      <div class="row align-items-start">

        {# Navigation #}
        <div class="col 
                    col-md-2
                    col-lg-3
                    ep-sticky-bottom-mobile
                    text-end
                    ep-nav-mt
                    ">
          {% include 'partials/navigation.njk' %}
        </div>

        {# Content #}
        <div class="ep-content
                    col-12 
                    col-md-10 
                    col-lg-9
                    ">
          <h2 >{{ title | safe }}</h2>
          <hr class="mt-0">
          {{ content | safe }}
        </div>
        
      </div> {# end row #}
    </div> {# end container #}
  </body>
</html>