---
layout: 'layouts/base.njk'
title: 'Blog'
---
    {%- for post in collections.posts  -%}
        <a
           class="
                  link-secondary 
                  link-offset-2 
                  link-underline-opacity-0 
                  link-opacity-75-hover
                  link-underline-opacity-25-hover
                 "
          href="{{ post.url }}">
          hola
          {{ post.permalink }}
          {# {%- if  !permalink  -%}
              <span class="badge rounded-pill text-bg-warning">Draft</span>
          {%- endif -%} #}
          
          {{ post.data.title }} 
          <span class="fs-6">( {{ post.data.date | epDate }} ) </span>
          
        </a></br> 
  	{%- endfor -%}