---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - pages
    - posts

layout: 'layouts/base.njk'
permalink: /tags/{{ tag | slugify }}/
tags: "pages"
eleventyComputed:
  title: 'Posts with tag: {{ tag | slugify }}' 
---

{% set postslist = collections[ tag ] %}

the tag is: {{tag | slugify }}

<ol>
{% for post in postslist %}
	<li >
		<a href="{{ post.url }}">{{ post.data.title }} </a>
	</li>
{% endfor %}
</ol>


