<div class="row 
            gx-1
            gx-md-3
            text-lg-center
            mb-4
            ">
    
    <div class="col-4
                col-lg-12
                p-3
                ">
      <img class="img-fluid
                  img-thumbnail
                  rounded-3
                  shadow
                  " 
           src="/assets/images/profile-pic-250x250.png" 
           alt="Header Image">
    </div>
    
    <div class="col
                align-self-end
                p-3
                ">
      <h1 class="
                my-0
                h3
                display-5
                ">
                {{ site.title }}
      </h1>
      <h2 class="
                h5
                mt-0
                
                ">
        {{ site.site_moto }}
      </h2>
      
      <span class="mt-2">
      
      <a class="link-secondary 
                link-offset-2 
                link-underline-opacity-0 
                link-opacity-75-hover
                link-underline-opacity-25-hover
                pe-2
                "
                href="https://github.com/nriquedev"><i class="fa-brands fa-github fa-xl"></i></a>

      <a class="link-secondary 
                link-offset-2 
                link-underline-opacity-0 
                link-opacity-75-hover
                link-underline-opacity-25-hover
                pe-2
                "
                href="https://www.linkedin.com/in/enriquepastrana/"><i class="fa-brands fa-linkedin  fa-xl"></i></a>

      <a class="link-secondary 
                link-offset-2 
                link-underline-opacity-0 
                link-opacity-75-hover
                link-underline-opacity-25-hover
                pe-2
                "
                href="https://www.instagram.com/enrique.cedor/"><i class="fa-brands fa-instagram  fa-xl"></i></a>

      </span>
    
    </div>

</div>
