<div class="row 
            gx-1
            gx-md-3
            text-lg-center
            
            ">
    
    <div class="
                col-4
                col-lg-12
                
                ">
      <img class="img-fluid
                  img-thumbnail
                  rounded-4
                  shadow
                  " 
           src="/assets/images/profile-pic-250x250.png" 
           alt="Header Image">
    </div>
    
    <div class="col
                align-self-end
                ">
      <h1 class="
                my-0
                h3
                display-5
                ">
                {{ site.title }}
      </h1>
      <h2 class="
                h5
                
                my-0
                ">
        {{ site.site_moto }}
      </h2>
      <span>
      <i class="fa-brands fa-github "></i>
      <i class="fa-brands fa-linkedin "></i>
      <i class="fa-brands fa-instagram "></i>
      </span>
    
    </div>

</div>
