<div class="row gx-1">
    
    <div class="
                col-4
                
                
                ">
      <img class="img-fluid
                  img-thumbnail
                  " 
           src="/assets/images/profile-pic-250x250.png" 
           alt="Header Image">
    </div>
    
    <div class="
                col
                align-self-end
                ">
      <h1 class="
                my-0
                ">
                {{ site.title }}
      </h1>
      <p class="
                my-0
                ">
        {{ site.site_moto }}
      </p>
      <span >
      <i class="fa-brands fa-github "></i>
      <i class="fa-brands fa-linkedin "></i>
      <i class="fa-brands fa-instagram "></i>
      </span>
    
    </div>
</div>
