<nav class="nav 
            flex-md-column
            ">
    {%- for sitepage in collections.pages -%}
        <a class="  nav-link 
                    link-secondary 
                    " 
            aria-current="page" 
            href="{{ sitepage.url }}">{{ sitepage.data.title }}</a>
    {%- endfor -%}
</nav>
