// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

$nav-link-color: "#949494";
$nav-link-hover-color: "#4C4C4C";
$nav-link-padding-y:  0rem;


// 3. Include remainder of required Bootstrap stylesheets
@import "../../../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/helpers";
@import "../../../node_modules/bootstrap/scss/nav";


// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here


/******************\
 * Custom styles  *
\******************/ 

.ep-greenbox{
    border: 1px solid green;
}

.ep-redbox{
    border: 1px solid red;
}

.ep-nav-item-active{
  //border-bottom: 1px solid #949494;
  text-decoration: underline;
}

.ep-header-pattern-background {
  background-image: url('/assets/images/header-pattern.webp'); /* Specify the path to your pattern image */
  background-repeat: repeat; /* Repeat the pattern both vertically and horizontally */
}



/***************\
Typography
\***************/

body{
  color: #323232;
  background-color: #FAFAFA;
  font-family: "Roboto Flex", sans-serif;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}

h1, h2, h3, h4, h5, h6{
  font-family: "Inconsolata", sans-serif;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900

.inconsolata{
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 1000

.roboto-flex{
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}
  


/***************\
 * Layout
\***************/

@media (max-width: 767.98px) { /* sm */
    /*
    Keep nav bar fixed bottom when mobile.
    */
    .ep-sticky-bottom-mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 9999;
      border-top: 1px solid #949494;
      background-color: #FCFCFC;
      padding-top: 0.5em!important;
      padding-bottom: 0.5em!important;
    }
    .sticky-left + .content {
      margin-bottom: 100px; /* Adjust as needed */
    }
    
}/* End sm */

@media (max-width: 1199.98px) { /* lg */
    /* margins */
    .ep-nav-mt{
      margin-top: 4em;
    }
}/* End lg */

@media (min-width: 1200px) { /* xl */
  /* margins */
  .ep-nav-mt{
    margin-top: 8em;
  }
}/*End xl*/
